body {
  margin: 0;
}

.scrubbable-grid {
  position: relative;
}

.section {
  position: absolute;
  contain: layout;
  background-color: grey;
}

.segment {
  position: absolute;
  contain: layout;
  background-color: seashell;
}

.tile {
  position: absolute;
  background-color: grey;
}