body {
  margin: 0;
  overflow: hidden;
}

.section {
  position: absolute;
  contain: size;
  background-color: grey;
}

.segment {
  position: absolute;
  contain: layout;
  background-color: seashell;
}

.tile {
  position: absolute;
  background-color: grey;
}

.container {
  display: flex;
  justify-content: space-between;
}

.barra {
  position: absolute;
  z-index: 150;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: yellow;
}